In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from zipfile import ZipFile
import os
%matplotlib inline

In [2]:
#Extracting the archive.zip, this folder contain the 3 csv files.
#with ZipFile('archive.zip', 'r') as zip:
    #zip.extractall('datasets')

In [3]:
#Saving the csv files into the data frames.
review_df = pd.read_csv('datasets/reviews.csv')
calendar_df = pd.read_csv('datasets/calendar.csv')
listings_df = pd.read_csv('datasets/listings.csv')

In [4]:
#review_df.head()
#review_df.info()
#review_df.describe()

In [5]:
#calendar_df.head()
#calendar_df.info()
#calendar_df.describe()

In [6]:
#listings_df.head()
#listings_df.info()
#listings_df.describe()

In [23]:
all_nulls_col = listings_nulls_col_25 = listings_df[listings_df.columns[listings_df.isnull().sum() > 0]]
print(list(all_nulls_col))

['summary', 'space', 'neighborhood_overview', 'notes', 'transit', 'thumbnail_url', 'medium_url', 'xl_picture_url', 'host_name', 'host_since', 'host_location', 'host_about', 'host_response_time', 'host_response_rate', 'host_acceptance_rate', 'host_is_superhost', 'host_thumbnail_url', 'host_picture_url', 'host_neighbourhood', 'host_listings_count', 'host_total_listings_count', 'host_has_profile_pic', 'host_identity_verified', 'neighbourhood', 'zipcode', 'property_type', 'bathrooms', 'bedrooms', 'beds', 'weekly_price', 'monthly_price', 'security_deposit', 'cleaning_fee', 'first_review', 'last_review', 'review_scores_rating', 'review_scores_accuracy', 'review_scores_cleanliness', 'review_scores_checkin', 'review_scores_communication', 'review_scores_location', 'review_scores_value', 'reviews_per_month']

In [7]:
listings_nulls_col_25 = listings_df[listings_df.columns[listings_df.isnull().sum()/listings_df.shape[0] > 0.25]]

listings_nulls_col_25.info()

# More 75%: 'square_feet', 'license' 
# More 50%: 'monthly_price', 'security_deposit'
# More 40%: 'weekly_price', 'notes'
# More 25%: 'neighborhood_overview', 'cleaning_fee'

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3818 entries, 0 to 3817
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   neighborhood_overview  2786 non-null   object
 1   notes                  2212 non-null   object
 2   square_feet            97 non-null     float64
 3   weekly_price           2009 non-null   object
 4   monthly_price          1517 non-null   object
 5   security_deposit       1866 non-null   object
 6   cleaning_fee           2788 non-null   object
 7   license                0 non-null      float64
dtypes: float64(2), object(6)
memory usage: 238.8+ KB

In [8]:
listings_df = listings_df.drop(['square_feet', 'license'], axis=1)
listings_df.shape[1]

90

In [9]:
listings_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3818 entries, 0 to 3817
Data columns (total 90 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   id                                3818 non-null   int64
 1   listing_url                       3818 non-null   object
 2   scrape_id                         3818 non-null   int64
 3   last_scraped                      3818 non-null   object
 4   name                              3818 non-null   object
 5   summary                           3641 non-null   object
 6   space                             3249 non-null   object
 7   description                       3818 non-null   object
 8   experiences_offered               3818 non-null   object
 9   neighborhood_overview             2786 non-null   object
 10  notes                             2212 non-null   object
 11  transit                           2884 non-null   object
 12  thumbnail_url                     3498 non-null   object
 13  medium_url                        3498 non-null   object
 14  picture_url                       3818 non-null   object
 15  xl_picture_url                    3498 non-null   object
 16  host_id                           3818 non-null   int64
 17  host_url                          3818 non-null   object
 18  host_name                         3816 non-null   object
 19  host_since                        3816 non-null   object
 20  host_location                     3810 non-null   object
 21  host_about                        2959 non-null   object
 22  host_response_time                3295 non-null   object
 23  host_response_rate                3295 non-null   object
 24  host_acceptance_rate              3045 non-null   object
 25  host_is_superhost                 3816 non-null   object
 26  host_thumbnail_url                3816 non-null   object
 27  host_picture_url                  3816 non-null   object
 28  host_neighbourhood                3518 non-null   object
 29  host_listings_count               3816 non-null   float64
 30  host_total_listings_count         3816 non-null   float64
 31  host_verifications                3818 non-null   object
 32  host_has_profile_pic              3816 non-null   object
 33  host_identity_verified            3816 non-null   object
 34  street                            3818 non-null   object
 35  neighbourhood                     3402 non-null   object
 36  neighbourhood_cleansed            3818 non-null   object
 37  neighbourhood_group_cleansed      3818 non-null   object
 38  city                              3818 non-null   object
 39  state                             3818 non-null   object
 40  zipcode                           3811 non-null   object
 41  market                            3818 non-null   object
 42  smart_location                    3818 non-null   object
 43  country_code                      3818 non-null   object
 44  country                           3818 non-null   object
 45  latitude                          3818 non-null   float64
 46  longitude                         3818 non-null   float64
 47  is_location_exact                 3818 non-null   object
 48  property_type                     3817 non-null   object
 49  room_type                         3818 non-null   object
 50  accommodates                      3818 non-null   int64
 51  bathrooms                         3802 non-null   float64
 52  bedrooms                          3812 non-null   float64
 53  beds                              3817 non-null   float64
 54  bed_type                          3818 non-null   object
 55  amenities                         3818 non-null   object
 56  price                             3818 non-null   object
 57  weekly_price                      2009 non-null   object
 58  monthly_price                     1517 non-null   object
 59  security_deposit                  1866 non-null   object
 60  cleaning_fee                      2788 non-null   object
 61  guests_included                   3818 non-null   int64
 62  extra_people                      3818 non-null   object
 63  minimum_nights                    3818 non-null   int64
 64  maximum_nights                    3818 non-null   int64
 65  calendar_updated                  3818 non-null   object
 66  has_availability                  3818 non-null   object
 67  availability_30                   3818 non-null   int64
 68  availability_60                   3818 non-null   int64
 69  availability_90                   3818 non-null   int64
 70  availability_365                  3818 non-null   int64
 71  calendar_last_scraped             3818 non-null   object
 72  number_of_reviews                 3818 non-null   int64
 73  first_review                      3191 non-null   object
 74  last_review                       3191 non-null   object
 75  review_scores_rating              3171 non-null   float64
 76  review_scores_accuracy            3160 non-null   float64
 77  review_scores_cleanliness         3165 non-null   float64
 78  review_scores_checkin             3160 non-null   float64
 79  review_scores_communication       3167 non-null   float64
 80  review_scores_location            3163 non-null   float64
 81  review_scores_value               3162 non-null   float64
 82  requires_license                  3818 non-null   object
 83  jurisdiction_names                3818 non-null   object
 84  instant_bookable                  3818 non-null   object
 85  cancellation_policy               3818 non-null   object
 86  require_guest_profile_picture     3818 non-null   object
 87  require_guest_phone_verification  3818 non-null   object
 88  calculated_host_listings_count    3818 non-null   int64
 89  reviews_per_month                 3191 non-null   float64
dtypes: float64(15), int64(13), object(62)
memory usage: 2.6+ MB

In [10]:
list_df = listings_df

In [11]:
print(type(list_df['price'][0]) == float)

False

In [12]:
def price_str_float(*columns):
    for col in columns:
        for n in list_df[col]:
            if type(n) != float:
                list_df[col] = list_df[col].replace(n, float(n[1:].replace(',','')))
price_str_float('price', 'monthly_price', 'weekly_price', 'cleaning_fee', 'security_deposit', 'extra_people')

In [13]:
def porcentage_str_int(*columns):
    for col in columns:
        for n in list_df[col]:
            if type(n) != int and type(n) != float:
                list_df[col] = list_df[col].replace(n, int(n[:-1]))
porcentage_str_int('host_response_rate', 'host_acceptance_rate')

In [14]:
list_df['cancellation_policy']

0       moderate
1         strict
2         strict
3       flexible
4         strict
          ...
3813      strict
3814    moderate
3815    moderate
3816    moderate
3817    flexible
Name: cancellation_policy, Length: 3818, dtype: object

In [27]:
list_df[['summary', 'space', 'neighborhood_overview', 'notes', 'transit', 'thumbnail_url', 'medium_url', 'xl_picture_url', 'host_name', 'host_since', 'host_location', 'host_about', 'host_response_time', 'host_response_rate', 'host_acceptance_rate', 'host_is_superhost', 'host_thumbnail_url', 'host_picture_url', 'host_neighbourhood', 'host_listings_count', 'host_total_listings_count', 'host_has_profile_pic', 'host_identity_verified', 'neighbourhood', 'zipcode', 'property_type', 'bathrooms', 'bedrooms', 'beds', 'weekly_price', 'monthly_price', 'security_deposit', 'cleaning_fee', 'first_review', 'last_review', 'review_scores_rating', 'review_scores_accuracy', 'review_scores_cleanliness', 'review_scores_checkin', 'review_scores_communication', 'review_scores_location', 'review_scores_value', 'reviews_per_month']].shape[1]

43

Features that are objects, but should be int or float: 'host_response_rate', 'host_acceptance_rate', 'zipcode', 'price', 'security_deposit', 'cleaning_fee', 'extra_people', 'weekly_price', 'monthly_price'


Debo buscar como quitarle el signo $ o % a los valores de las columnas que lo tienen, y volver todas las columnas a type int or float.

Luego buscare como rellenar los valores NaN de las variables que tienen valores NaN, ya sea usando las medias, o usando groupby, asi tambien usarlo para las columnas con valores binarios, hay varias, asi que debo sacar las columnas que tengan valores binarios.